<h3>About</h3>

<p>The web application will allow ODOT employee to see a visual representation of any part of the current transit network.</p>
<p>Small transit agencies will be able to embed interactive Google Maps with selected routes into their websites.</p>
<p>The main components are a database with scripts that fetch the latest data, a web app that provides a UI for displaying and interacting with the data.</p>