<!DOCTYPE html>
<html>
<head>
  <title>ODOT: Transit Network Reporting and Analysis Tool</title>
</head>
<body>

<table id="maintable" border="0" width="100%">
  <tr height="120">
    <table border="0" width="100%">
      <tr>
        <td align="left" valign="center">
          <img src="/assets/OdotLogo.jpg" height="100" align="center">
        </td align="left" valign="center">
        <td>
          <h1>Transit Network Reporting and Analysis Tool</h1>
        </td>
        <td align="right">
          <table border="0">
            <tr>
              <td valign="top" align="right">Last Update: 04/04/12</td>
            </tr>
            <tr>
              <td valign="bottom" align="right">
                Welcome, Guest!<br>
                <a href="/">Home</a> | <a href="login">Login</a> | <a href="config">Admin</a> |
                <a href="example">Map Example</a> | <a href="about">About</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </tr>
  <tr>
    <td colspan="3">
      <%= yield %>
    </td>
  </tr>
</table>
</body>
</html>
