<h3>About</h3>


<table>
  <tr>
    <td>- The web application will allow ODOT employee to see a visual representation of any part of the current transit network.</td>
  </tr>
  <tr>
    <td>- Small transit agencies will be able to embed interactive Google Maps with selected routes into their websites.</td>
  </tr>
  <tr>
    <td>- The main components are a database with scripts that fetch the latest data, a web app that provides a UI for displaying and interacting with the data.</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">------------------------------------------------------------</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">Version: 1.0.0</td>
  </tr>
  <tr>
    <td align="center">Copyright (C) 2011-2012</td>
  </tr>
</table>